<!-- views/pages/editsubject -->
<!doctype html>
<html>

<head>
    <title>Edit Subject</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="col-sm-6 col-sm-offset-3">

            <h1><span class="glyphicon glyphicon-pencil"></span> Edit Subject</h1>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
            <!-- Subject FORM -->
            <form action="/editsubjects/<%= subject._id %>" method="post">
                <input type="hidden" name="_method" value="patch" />
                <div class="form-group">
                    <label>title</label>
                    <input type="text" class="form-control" name="title" value="<%= subject.title%>">
                </div>
                <div class="form-group">
                        <label>Grade</label>
                        <label class="radio-inline"><input type="radio" name="grade" value="1" <% if(subject.grade == '1'){ %> checked="" <% }%> >1st secondary</label>
                        <label class="radio-inline"><input type="radio" name="grade" value="2" <% if(subject.grade == '2'){ %> checked="" <%} %>>2nd secondary</label>
                        <label class="radio-inline"><input type="radio" name="grade" value="3"<% if(subject.grade == '3') { %> checked="" <%} %>>3rd secondary</label>
                    </div>
                <div class="form-group">
                    <label>Field</label>
                    <label class="radio-inline"><input type="radio" name="field" value="grammar" <% if(subject.field == 'grammar'){ %> checked="" <% }%> >Grammar</label>
                    <label class="radio-inline"><input type="radio" name="field" value="story" <% if(subject.field == 'story'){ %> checked="" <%} %>>Story</label>
                    <label class="radio-inline"><input type="radio" name="field" value="exercises"<% if(subject.field == 'exercises') { %> checked="" <%} %>>Exercises</label>
                </div>

                <div class="form-group">
                    <label>Youtube Link</label>
                    <input type="text" class="form-control" name="ytLink" value="<%= subject.ytLink %>">
                </div>
                <div class="form-group">
                    <label>Document</label>
                    
                    <textarea class="form-control" rows="5" id="document" name="document"><%= subject.document %></textarea>
                </div>
                <button type="submit" class="btn btn-warning btn-lg">Edit</button>
            </form>
            <a href="/subjects/<%= subject._id %>" class="btn btn-info" role="button">View Subject</a>
            <hr>

            <p>All subjects <a href="/allsubjects">All subjects</a></p>
            <p>Or go <a href="/">home</a>.</p>

        </div>

    </div>
</body>

</html>